@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  font-size: 16px;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --font-size: 1.1rem;
  --primary-color: #9575cd;
  --primary: #0984e3;
  --success: #2ecc71;
  --warning: #e74c3c;
  --font-color: #fffff3;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.alert {
  border: 1px solid black;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--font-color);
  font-size: var(--font-size);
  margin: 0.5rem;
}
.alert-text {
  padding-left: 1rem;
}
.alert-primary {
  background-color: var(--primary);
}
.alert-success {
  background-color: var(--success);
}
.alert-warning {
  background-color: var(--warning);
}
.badge {
  background-color: var(--primary-color);
  color: var(--font-color);
  padding: 0.25rem;
  border-radius: 0.15rem;
}
.badge-primary {
  background-color: var(--primary);
  color: var(--font-color);
}
.badge-success {
  background-color: var(--success);
  color: var(--font-color);
}
.badge-warning {
  background-color: var(--warning);
  color: var(--font-color);
}
.button {
  background-color: var(--primary-color);
  color: var(--font-color);
  padding: var(--space-1) var(--space-2);
  border-radius: 0.5rem;
  font-size: var(--font-size);
}
.button-primary {
  background-color: var(--primary);
}
.button-success {
  background-color: var(--success);
}
.button-warning {
  background-color: var(--warning);
}
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 2px 2px 2px #ccc;
}
.card-img {
  width: 100%;
}
.card-title {
  padding-left: 1rem;
  padding-top: 1rem;
  margin: 0.5rem;
}
.card-text {
  margin: 0.5rem;
  padding: 0.5rem;
}
.avator {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.image {
  vertical-align: middle;
  width: 200px;
  height: 200px;
}
.image-sm {
  width: 300px;
  height: 300px;
}
.image-md {
  width: 400px;
  height: 400px;
}
