@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  font-size: 16px;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --font-size: 1.1rem;
  --primary-color: #9575cd;
  --grey-variant:#344c3a;
  --primary: #0984e3;
  --success: #2ecc71;
  --warning: #e74c3c;
  --font-color: #fffff3;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.alert {
  border: 1px solid black;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--font-color);
  font-size: var(--font-size);
  margin: 0.5rem;
}
.alert-text {
  padding-left: 1rem;
}
.alert-primary {
  background-color: var(--primary);
}
.alert-success {
  background-color: var(--success);
}
.alert-warning {
  background-color: var(--warning);
}
.badge {
  background-color: var(--grey-variant);
  color: var(--font-color);
  padding: 0.25rem;
  border-radius: 0.15rem;
}
.badge-primary {
  background-color: var(--primary-color);
  color: var(--font-color);
}

.badge-warning {
  background-color: var(--warning);
  color: var(--font-color);
}
.button {
  background-color: var(--grey-variant);
  color: var(--font-color);
  padding: var(--space-1) var(--space-2);
  border-radius: 0.5rem;
  font-size: var(--font-size);
}
.button-primary {
  background-color: var(--primary-color);
}

.button-success {
  background-color: var(--success);
}
.button-warning {
  background-color: var(--warning);
}
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 2px 2px 2px #ccc;
}
.card-img {
  width: 100%;
}
.card-title {
  padding-left: 1rem;
  padding-top: 1rem;
  margin: 0.5rem;
}
.card-text {
  margin: 0.5rem;
  padding: 0.5rem;
}
.avator {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.image {
  vertical-align: middle;
  width: 200px;
  height: 200px;
}
.image-sm {
  width: 300px;
  height: 300px;
}
.image-md {
  width: 400px;
  height: 400px;
}

.list-unstyled{
  list-style-type: none;
}
.list-numbered{
  list-style-type: decimal;
}
.list-dotted{
  list-style-type: disc;
}

.list-item{
  padding: 00.25rem;
  font-size: var(--font-size);
}
.input-styled{
  height: 1.25rem;
  width: 15rem;
  border: 0.75px solid black;
  border-radius: 0.5rem;
}


.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
